@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}


.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  background-image: url(/public/background\ img.avif);
  background-size: cover;
  color: white;

  & div {
    display: flex;
    gap: 2rem;

    & p {
      font-size: 1.3rem;
      max-width: 20rem;
    }
  }
}

.skills {
  margin:5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60%;
    gap: 2rem;

    & li {
      font-size: 1.3rem;
      max-width: 20rem;
      list-style-type: none;
      padding:2rem;
      border-radius: 1rem;
      background-color: hsl(0, 0%, 80%);
    }
  }
}

.project {

    text-align: center;
    margin-top: 8rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  gap: 2rem;
  margin: 5rem;
  max-width: 100%;

  & .card {
    max-width: 30%;
    gap: 2rem;

    & img.img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 1rem;
    }
    div.links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;

      & a:first-of-type {
      background-color: hsl(0, 0%, 80%);
      padding:1rem;
      border-radius: 1rem;
      color: black;
      }

      & a:last-of-type img{
        border-radius: 1rem;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: hsl(0, 0%, 80%);

  & a {
    text-decoration: none;
    color: black;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: hsl(0, 0%, 80%);
}